# Load your dataset

In [1]:
#  https://www.kaggle.com/datasets/junglisher/employees-attrition-analysis
import pandas as pd
empl_df = pd.read_csv("whole data.csv")

In [2]:
empl_df[:20]

,EmployeeID,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3,3,3.0,4.0,2.0,51,No,Travel_Rarely,Sales,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,2,2,4,3.0,2.0,4.0,31,Yes,Travel_Frequently,Research & Development,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,3,3,3,2.0,2.0,1.0,32,No,Travel_Frequently,Research & Development,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,4,2,3,4.0,4.0,3.0,38,No,Non-Travel,Research & Development,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,5,3,3,4.0,1.0,3.0,32,No,Travel_Rarely,Research & Development,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,6,3,3,3.0,2.0,2.0,46,No,Travel_Rarely,Research & Development,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,7,3,4,1.0,3.0,1.0,28,Yes,Travel_Rarely,Research & Development,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,8,3,4,1.0,2.0,3.0,29,No,Travel_Rarely,Research & Development,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,9,3,4,2.0,4.0,3.0,31,No,Travel_Rarely,Research & Development,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,10,3,3,2.0,1.0,3.0,25,No,Non-Travel,Research & Development,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,11,2,3,3.0,4.0,3.0,45,No,Travel_Rarely,Research & Development,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,12,3,3,NaN,4.0,3.0,36,No,Travel_Rarely,Research & Development,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,13,3,3,4.0,1.0,3.0,55,No,Travel_Rarely,Research & Development,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,14,2,3,1.0,2.0,2.0,47,Yes,Non-Travel,Research & Development,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,15,3,3,4.0,4.0,2.0,28,No,Travel_Rarely,Research & Development,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,16,3,3,3.0,4.0,4.0,37,No,Travel_Rarely,Research & Development,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,17,2,3,4.0,3.0,4.0,21,No,Travel_Rarely,Research & Development,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,18,3,3,1.0,4.0,3.0,37,No,Non-Travel,Research & Development,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,19,2,3,2.0,2.0,2.0,35,No,Travel_Rarely,Sales,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,20,3,3,1.0,1.0,3.0,38,No,Travel_Rarely,Research & Development,...,1.0,Y,11,8,1,8.0,5,8,7,7

#Preprocessing steps

In [3]:
empl_df.isnull().sum()

EmployeeID                  0
JobInvolvement              0
PerformanceRating           0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [4]:
empl_df['EnvironmentSatisfaction'] = empl_df['EnvironmentSatisfaction'].fillna(empl_df['EnvironmentSatisfaction'].median())

In [5]:
empl_df['EnvironmentSatisfaction'].isnull().sum()

0

In [6]:
empl_df['JobSatisfaction'] = empl_df['JobSatisfaction'].fillna(empl_df['JobSatisfaction'].median())

In [7]:
empl_df['JobSatisfaction'].isnull().sum()

0

In [8]:
empl_df['WorkLifeBalance'].isnull().sum()

38

In [9]:
empl_df['WorkLifeBalance'] = empl_df['WorkLifeBalance'].fillna(empl_df['WorkLifeBalance'].median())

In [10]:
empl_df['NumCompaniesWorked'] = empl_df['NumCompaniesWorked'] .fillna(empl_df['NumCompaniesWorked'].median())

In [11]:
empl_df.isnull().sum()

EmployeeID                 0
JobInvolvement             0
PerformanceRating          0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          9
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [12]:
empl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   JobInvolvement           4410 non-null   int64
 2   PerformanceRating        4410 non-null   int64
 3   EnvironmentSatisfaction  4410 non-null   float64
 4   JobSatisfaction          4410 non-null   float64
 5   WorkLifeBalance          4410 non-null   float64
 6   Age                      4410 non-null   int64
 7   Attrition                4410 non-null   object
 8   BusinessTravel           4410 non-null   object
 9   Department               4410 non-null   object
 10  DistanceFromHome         4410 non-null   int64
 11  Education                4410 non-null   int64
 12  EducationField           4410 non-null   object
 13  EmployeeCount            4410 non-null   int64
 14  Gender                   4410 non-null   object
 15  JobLevel                 4410 non-null   int64
 16  JobRole                  4410 non-null   object
 17  MaritalStatus            4410 non-null   object
 18  MonthlyIncome            4410 non-null   int64
 19  NumCompaniesWorked       4410 non-null   float64
 20  Over18                   4410 non-null   object
 21  PercentSalaryHike        4410 non-null   int64
 22  StandardHours            4410 non-null   int64
 23  StockOptionLevel         4410 non-null   int64
 24  TotalWorkingYears        4401 non-null   float64
 25  TrainingTimesLastYear    4410 non-null   int64
 26  YearsAtCompany           4410 non-null   int64
 27  YearsSinceLastPromotion  4410 non-null   int64
 28  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(5), int64(16), object(8)
memory usage: 999.3+ KB

In [13]:
empl_df['Attrition']

0        No
1       Yes
2        No
3        No
4        No
       ...
4405     No
4406     No
4407     No
4408     No
4409     No
Name: Attrition, Length: 4410, dtype: object

# convert yes and no to 1 and o

In [14]:
empl_df['Attrition'] = empl_df['Attrition'].replace({'Yes':1,'No':0})
empl_df['Attrition']

0       0
1       1
2       0
3       0
4       0
       ..
4405    0
4406    0
4407    0
4408    0
4409    0
Name: Attrition, Length: 4410, dtype: int64

#Convert BusinessTravel to numerical values

In [15]:
empl_df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [16]:
empl_df['BusinessTravel'] = empl_df['BusinessTravel'].replace({'Travel_Frequently':2,'Travel_Rarely':1,'Non-Travel':0})

In [17]:
# empl_df['Sales'].value_counts()

empl_df.Department.value_counts()

Research & Development    2883
Sales                     1338
Human Resources            189
Name: Department, dtype: int64

In [18]:
empl_df['Department'] = empl_df['Department'].replace({'Research & Development':3,'Sales':2,'Human Resources':1})

In [19]:
empl_df.Over18.value_counts()

Y    4410
Name: Over18, dtype: int64

In [20]:
empl_df['Over18'] = empl_df['Over18'].replace({'Y':1})

In [21]:
empl_df['TotalWorkingYears'] = empl_df['TotalWorkingYears'].fillna(empl_df['TotalWorkingYears'].median())

In [22]:
empl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   JobInvolvement           4410 non-null   int64
 2   PerformanceRating        4410 non-null   int64
 3   EnvironmentSatisfaction  4410 non-null   float64
 4   JobSatisfaction          4410 non-null   float64
 5   WorkLifeBalance          4410 non-null   float64
 6   Age                      4410 non-null   int64
 7   Attrition                4410 non-null   int64
 8   BusinessTravel           4410 non-null   int64
 9   Department               4410 non-null   int64
 10  DistanceFromHome         4410 non-null   int64
 11  Education                4410 non-null   int64
 12  EducationField           4410 non-null   object
 13  EmployeeCount            4410 non-null   int64
 14  Gender                   4410 non-null   object
 15  JobLevel                 4410 non-null   int64
 16  JobRole                  4410 non-null   object
 17  MaritalStatus            4410 non-null   object
 18  MonthlyIncome            4410 non-null   int64
 19  NumCompaniesWorked       4410 non-null   float64
 20  Over18                   4410 non-null   int64
 21  PercentSalaryHike        4410 non-null   int64
 22  StandardHours            4410 non-null   int64
 23  StockOptionLevel         4410 non-null   int64
 24  TotalWorkingYears        4410 non-null   float64
 25  TrainingTimesLastYear    4410 non-null   int64
 26  YearsAtCompany           4410 non-null   int64
 27  YearsSinceLastPromotion  4410 non-null   int64
 28  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(5), int64(20), object(4)
memory usage: 999.3+ KB

In [23]:
empl_df['MaritalStatus'].value_counts()

Married     2019
Single      1410
Divorced     981
Name: MaritalStatus, dtype: int64

In [24]:
empl_df['JobRole'].value_counts()

Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: JobRole, dtype: int64

In [25]:
value = 'Female'
# mask = empl_df['Department'].str.contains(value)

empl_df.apply(lambda row: row.astype(str).str.contains(value).any(), axis=0)

EmployeeID                 False
JobInvolvement             False
PerformanceRating          False
EnvironmentSatisfaction    False
JobSatisfaction            False
WorkLifeBalance            False
Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
Gender                      True
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [26]:
empl_df['Gender'].value_counts()

Male      2646
Female    1764
Name: Gender, dtype: int64

In [27]:
empl_df.Department.value_counts()

3    2883
2    1338
1     189
Name: Department, dtype: int64

In [28]:
value = 'Life Sciences'
# mask = empl_df['Department'].str.contains(value)

empl_df.apply(lambda row: row.astype(str).str.contains(value).any(), axis=0)

EmployeeID                 False
JobInvolvement             False
PerformanceRating          False
EnvironmentSatisfaction    False
JobSatisfaction            False
WorkLifeBalance            False
Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField              True
EmployeeCount              False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [29]:
empl_df['EducationField'].value_counts()

Life Sciences       1818
Medical             1392
Marketing            477
Technical Degree     396
Other                246
Human Resources       81
Name: EducationField, dtype: int64

In [30]:
empl_df['EducationField'].isnull().sum()

0

#Apply Label Encoder

In [31]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

for i in empl_df[['EducationField','MaritalStatus','JobRole','Gender']]:
    if isinstance(empl_df[i][0],str):
        empl_df[i] = encoder.fit_transform(empl_df[i])

In [32]:
empl_df

,EmployeeID,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3,3,3.0,4.0,2.0,51,0,1,2,...,1.0,1,11,8,0,1.0,6,1,0,0
1,2,2,4,3.0,2.0,4.0,31,1,2,3,...,0.0,1,23,8,1,6.0,3,5,1,4
2,3,3,3,2.0,2.0,1.0,32,0,2,3,...,1.0,1,15,8,3,5.0,2,5,0,3
3,4,2,3,4.0,4.0,3.0,38,0,0,3,...,3.0,1,11,8,3,13.0,5,8,7,5
4,5,3,3,4.0,1.0,3.0,32,0,1,3,...,4.0,1,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,3,3,4.0,1.0,3.0,42,0,1,3,...,3.0,1,17,8,1,10.0,5,3,0,2
4406,4407,2,3,4.0,4.0,3.0,29,0,1,3,...,2.0,1,15,8,0,10.0,2,3,0,2
4407,4408,3,4,1.0,3.0,3.0,25,0,1,3,...,0.0,1,20,8,0,5.0,4,4,1,2
4408,4409,2,3,4.0,1.0,3.0,42,0,1,2,...,0.0,1,14,8,1,10.0,2,9,7,8
4409,4410,4,3,1.0,3.0,3.0,40,0,1,3,...,0.0,1,12,8,0,10.0,6,21,3,9

In [33]:
empl_df.isna().sum()

EmployeeID                 0
JobInvolvement             0
PerformanceRating          0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

#You can standardize your dataset using the scikit-learn object StandardScaler.

In [34]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# scaled = scaler.fit_transform(data)

In [35]:
x = empl_df.drop(['Attrition'], axis=1)
y = empl_df.Attrition

In [36]:
# import all the dependencies
from keras.layers import Dense,Conv2D,MaxPooling2D,UpSampling2D
from keras import Input, Model
import numpy as np
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [37]:
# Separating the normal and fraudulent transactions........normal_attr_0
attr_1 = empl_df[empl_df['Attrition']== 1]
attr_0 = empl_df[empl_df['Attrition']== 0].sample(2500)

# Reducing the dataset because of machinery constraints
df = attr_0.append(attr_1).reset_index(drop = True)

# Separating the dependent and independent variables
y = df['Attrition']
X = df.drop('Attrition', axis = 1)

In [38]:
import tensorflow as tf
data_list = tf.stack(X)
y = tf.stack(y)

In [39]:
data_list.shape

TensorShape([3211, 28])

In [40]:
y.shape

TensorShape([3211])

In [41]:
# Cleaning the data to make it suitable for the Auto-encoder

# Scaling the data to make it suitable for the auto-encoder
from sklearn.preprocessing import MinMaxScaler

X_scaled = MinMaxScaler().fit_transform(data_list)

X_no_scaled = X_scaled[y == 0]
X_yes_scaled = X_scaled[y == 1]

In [42]:
X_scaled.shape

(3211, 28)

#AutoEncoder Model

In [43]:
# Building the Auto-encoder neural network

from keras import regularizers
from keras.layers import Input, Dense
from keras.models import Model, Sequential

# Building the Input Layer
input_layer = Input(shape =(data_list.shape[1], ))

# Building the Encoder network
encoded = Dense(100, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(input_layer)
encoded = Dense(50, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(25, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(12, activation ='tanh',
                activity_regularizer = regularizers.l1(10e-5))(encoded)
encoded = Dense(6, activation ='relu')(encoded)

# Building the Decoder network
decoded = Dense(12, activation ='tanh')(encoded)
decoded = Dense(25, activation ='tanh')(decoded)
decoded = Dense(50, activation ='tanh')(decoded)
decoded = Dense(100, activation ='tanh')(decoded)

# Building the Output Layer
output_layer = Dense(data_list.shape[1], activation ='relu')(decoded)

In [44]:
data_list

<tf.Tensor: shape=(3211, 28), dtype=float64, numpy=
array([[3.786e+03, 3.000e+00, 3.000e+00, ..., 8.000e+00, 7.000e+00,
        7.000e+00],
       [1.662e+03, 3.000e+00, 3.000e+00, ..., 8.000e+00, 0.000e+00,
        7.000e+00],
       [5.800e+02, 1.000e+00, 3.000e+00, ..., 1.800e+01, 2.000e+00,
        1.300e+01],
       ...,
       [4.389e+03, 3.000e+00, 3.000e+00, ..., 9.000e+00, 1.000e+00,
        7.000e+00],
       [4.392e+03, 3.000e+00, 3.000e+00, ..., 3.000e+00, 1.000e+00,
        2.000e+00],
       [4.403e+03, 3.000e+00, 3.000e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00]])>

In [45]:
np.count_nonzero(np.isnan(data_list))

0

In [46]:
X.isna().sum()

EmployeeID                 0
JobInvolvement             0
PerformanceRating          0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [47]:
type(data_list)

tensorflow.python.framework.ops.EagerTensor

In [48]:
# Defining and Training the Auto-encoder

# Defining the parameters of the Auto-encoder network
import numpy as np
autoencoder_1 = Model(input_layer, output_layer)
autoencoder_1.compile(optimizer ="adadelta", loss ="mse")

# Training the Auto-encoder network
autoencoder_1.fit(np.array(data_list), np.array(y), batch_size = 16, epochs = 10, shuffle = True, validation_split = 0.20)
# model.fit(np.array(data_list), np.array(y), verbose=0, epochs=100)

ValueError: Error when checking target: expected dense_10 to have shape (28,) but got array with shape (1,)

#Retaining the encoder part of the Auto-encoder to encode data

In [ ]:
hidden_representation_1 = Sequential()

In [ ]:
# Separating the points encoded by the Auto-encoder as normal and fraud
normal_hidden_rep = hidden_representation_1.predict(X_no_scaled)
fraud_hidden_rep = hidden_representation_1.predict(X_yes_scaled)

# Combining the encoded points into a single table
encoded_X = np.append(normal_hidden_rep, fraud_hidden_rep, axis = 0)
y_normal = np.zeros(normal_hidden_rep.shape[0])
y_fraud = np.ones(fraud_hidden_rep.shape[0])
encoded_y = np.append(y_normal, y_fraud)

In [ ]:
encoded_y

In [ ]:
y_normal

In [ ]:
encoded_X

In [ ]:
y_fraud

Splitting the original and encoded data into training and testing data

In [ ]:
# Splitting the encoded data for linear classification
from sklearn.model_selection import train_test_split

X_train_encoded, X_test_encoded, y_train_encoded, y_test_encoded = train_test_split(encoded_X, encoded_y, test_size = 0.2)

In [ ]:
empl_df.isna().sum()

In [ ]:
original_X = empl_df.drop(['Attrition'], axis=1)
original_y = empl_df.Attrition

In [ ]:
# Splitting the original data for non-linear classification
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(original_X, original_y, test_size = 0.2)

Building the Logistic Regression model and evaluating it’s performance

In [ ]:
# Building the logistic regression model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lrclf = LogisticRegression()
lrclf.fit(X_train_encoded, y_train_encoded)

# Storing the predictions of the linear model
y_pred_lrclf = lrclf.predict(X_test_encoded)

# Evaluating the performance of the linear model
print('Accuracy : '+str(accuracy_score(y_test_encoded, y_pred_lrclf)))

In [ ]:
........END.........................